@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Aquarium theme styles */
.aquarium-theme {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url('/printable-fish-aquarium-backgrounds-4.jpg'); /* Correct path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
